/* ====================
	* HELPERS *
==================== */

// MARGEN
@for $i from 0 through 5 {
    .m-#{$i}{ margin: $i * 10px;}
    .mx-#{$i}{ margin: 0 $i * 10px;}
    .my-#{$i}{ margin: $i * 10px 0;}
    .mt-#{$i}{ margin-top: $i * 10px;}
    .mb-#{$i}{ margin-bottom: $i * 10px;}
    .mr-#{$i}{ margin-right: $i * 10px;}
    .ml-#{$i}{ margin-left: $i * 10px;}
}

.mx-auto{ margin: 0 auto;}
.my-auto{ margin: auto 0;}



// PADDING
@for $i from 0 through 5 {
    .p-#{$i}{ padding: $i * 10px;}
    .px-#{$i}{ padding: 0 $i * 10px;}
    .py-#{$i}{ padding: $i * 10px 0;}
    .pt-#{$i}{ padding-top: $i * 10px;}
    .pb-#{$i}{ padding-bottom: $i * 10px;}
    .pr-#{$i}{ padding-right: $i * 10px;}
    .pl-#{$i}{ padding-left: $i * 10px;}
}




@include desktop(){
    @for $i from 0 through 5 {
         .m-lg-#{$i}{ margin: $i * 10px;}
         .mx-lg-#{$i}{ margin: 0 $i * 10px;}
         .my-lg-#{$i}{ margin: $i * 10px 0;}
         .mt-lg-#{$i}{ margin-top: $i * 10px;}
         .mb-lg-#{$i}{ margin-bottom: $i * 10px;}
         .mr-lg-#{$i}{ margin-right: $i * 10px;}
         .ml-lg-#{$i}{ margin-left: $i * 10px;}
    }

    .mx-lg-auto{ margin: 0 auto;}
    .my-lg-auto{ margin: auto 0;}



    @for $i from 0 through 5 {
         .p-lg-#{$i}{ padding: $i * 10px;}
         .px-lg-#{$i}{ padding: 0 $i * 10px;}
         .py-lg-#{$i}{ padding: $i * 10px 0;}
         .pt-lg-#{$i}{ padding-top: $i * 10px;}
         .pb-lg-#{$i}{ padding-bottom: $i * 10px;}
         .pr-lg-#{$i}{ padding-right: $i * 10px;}
         .pl-lg-#{$i}{ padding-left: $i * 10px;}
    }
}

@include tablets(){
   @for $i from 0 through 5 {
         .m-md-#{$i}{ margin: $i * 10px;}
         .mx-md-#{$i}{ margin: 0 $i * 10px;}
         .my-md-#{$i}{ margin: $i * 10px 0;}
         .mt-md-#{$i}{ margin-top: $i * 10px;}
         .mb-md-#{$i}{ margin-bottom: $i * 10px;}
         .mr-md-#{$i}{ margin-right: $i * 10px;}
         .ml-md-#{$i}{ margin-left: $i * 10px;}
    }

    .mx-md-auto{ margin: 0 auto;}
    .my-md-auto{ margin: auto 0;}



    @for $i from 0 through 5 {
         .p-md-#{$i}{ padding: $i * 10px;}
         .px-md-#{$i}{ padding: 0 $i * 10px;}
         .py-md-#{$i}{ padding: $i * 10px 0;}
         .pt-md-#{$i}{ padding-top: $i * 10px;}
         .pb-md-#{$i}{ padding-bottom: $i * 10px;}
         .pr-md-#{$i}{ padding-right: $i * 10px;}
         .pl-md-#{$i}{ padding-left: $i * 10px;}
    } 
}

@include phone(){
    @for $i from 0 through 5 {
         .m-sm-#{$i}{ margin: $i * 10px;}
         .mx-sm-#{$i}{ margin: 0 $i * 10px;}
         .my-sm-#{$i}{ margin: $i * 10px 0;}
         .mt-sm-#{$i}{ margin-top: $i * 10px;}
         .mb-sm-#{$i}{ margin-bottom: $i * 10px;}
         .mr-sm-#{$i}{ margin-right: $i * 10px;}
         .ml-sm-#{$i}{ margin-left: $i * 10px;}
    }

    .mx-sm-auto{ margin: 0 auto;}
    .my-sm-auto{ margin: auto 0;}



    @for $i from 0 through 5 {
         .p-sm-#{$i}{ padding: $i * 10px;}
         .px-sm-#{$i}{ padding: 0 $i * 10px;}
         .py-sm-#{$i}{ padding: $i * 10px 0;}
         .pt-sm-#{$i}{ padding-top: $i * 10px;}
         .pb-sm-#{$i}{ padding-bottom: $i * 10px;}
         .pr-sm-#{$i}{ padding-right: $i * 10px;}
         .pl-sm-#{$i}{ padding-left: $i * 10px;}
    }
}




// BORDER
.border{border: 1px solid $gray;}
.border-right{border-right: 1px solid $gray;}
.border-left{border-left: 1px solid $gray;}
.border-top{border-top: 1px solid $gray;}
.border-bottom{border-bottom: 1px solid $gray;}

// BORDES REDONDEADIS
.rounded{border-radius: 5px;}
.rounded-2{border-radius: 20px;}
.rounded-3{border-radius: 30px;}
.rounded-full{border-radius: 50%;}

// ALINEACION DE TEXTO
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}


// CURSORES
.cursor-pointer{cursor: pointer;}
.cursor-normal{cursor: default;}
.cursor-resize{cursor: e-resize;}


// TRANSICIONES
.transition3s{transition: all .3s;}
.transition5s{transition: all .5s;}
.transition8s{transition: all .8s;}
.transition10s{transition: all .10s;}