.d-block {display: block;}
.d-inline-block {display: inline-block}
.d-none {display: none;}

.pfixed {position: fixed;}
.prelative {position: relative;}
.pabsolute {position: absolute;}
.pstatic {position: static;}

.top {top: 0;}
.bottom {bottom: 0;}
.left {left: 0;}
.right {right: 0;}

.float-left {float: left;}
.float-right {float: right;}
.float-none {float: none;}

.d-flex {display: flex;}
.inline-flex {display: inline-flex;}
.jcontent-center{justify-content: center;}
.jcontent-around{justify-content: space-around;}
.jcontent-between{justify-content: space-between;}
.jcontent-evenly{justify-content: space-evenly;}
.jcontent-start{justify-content: flex-start;}
.jcontent-end{justify-content: end;}
.items-center{align-items: center;}
.items-start{align-items: flex-start;}
.items-end{align-items: flex-end;}
.items-stretch{align-items: stretch;}

@include desktop(){
    .d-lg-block{display: block;}
    .d-lg-inline-block{display: inline-block;}
    .d-lg-none{display: none;}

    .pfixed-lg{position: fixed;}
    .prelative-lg{position: relative;}
    .pabsolute-lg{position: absolute;}
    .pstatic-lg{position: static;}

    .top-lg{top: 0;}
    .bottom-lg{bottom: 0;}
    .left-lg{left: 0}
    .right-lg{right: 0;}

    .float-lg-left{float: left;}
    .float-lg-right{float: right;}
    .float-lg-none{float: none;}


    .flex-lg{display: flex;}
    .inline-flex-lg{display: inline-flex;}
    .jcontent-lg-center{justify-content: center;}
    .jcontent-lg-around{justify-content: space-around;}
    .jcontent-lg-between{justify-content: space-between;}
    .jcontent-lg-evenly{justify-content: space-evenly;}
    .jcontent-lg-start{justify-content: flex-start;}
    .jcontent-lg-end{justify-content: end;}
    .items-lg-center{align-items: center;}
    .items-lg-start{align-items: flex-start;}
    .items-lg-end{align-items: flex-end;}
    .items-lg-stretch{align-items: stretch;}
}

@include tablets(){
    .d-md-block{display: block;}
    .d-md-inline-block{display: inline-block;}
    .d-md-none{display: none;}

    .pfixed-md{position: fixed;}
    .prelative-md{position: relative;}
    .pabsolute-md{position: absolute;}
    .pstatic-md{position: static;}

    .top-md{top: 0;}
    .bottom-md{bottom: 0;}
    .left-md{left: 0}
    .right-md{right: 0;}

    .float-md-left{float: left;}
    .float-md-right{float: right;}
    .float-md-none{float: none;}


    .flex-md{display: flex;}
    .inline-flex-md{display: inline-flex;}
    .jcontent-md-center{justify-content: center;}
    .jcontent-md-around{justify-content: space-around;}
    .jcontent-md-between{justify-content: space-between;}
    .jcontent-md-evenly{justify-content: space-evenly;}
    .jcontent-md-start{justify-content: flex-start;}
    .jcontent-md-end{justify-content: end;}
    .items-md-center{align-items: center;}
    .items-md-start{align-items: flex-start;}
    .items-md-end{align-items: flex-end;}
    .items-md-stretch{align-items: stretch;}
}

@include phone(){
    .d-sm-block{display: block;}
    .d-sm-inline-block{display: inline-block;}
    .d-sm-none{display: none;}

    .pfixed-sm{position: fixed;}
    .prelative-sm{position: relative;}
    .pabsolute-sm{position: absolute;}
    .pstatic-sm{position: static;}

    .top-sm{top: 0;}
    .bottom-sm{bottom: 0;}
    .left-sm{left: 0}
    .right-sm{right: 0;}

    .float-sm-left{float: left;}
    .float-sm-right{float: right;}
    .float-sm-none{float: none;}


    .flex-sm{display: flex;}
    .inline-flex-sm{display: inline-flex;}
    .jcontent-sm-center{justify-content: center;}
    .jcontent-sm-around{justify-content: space-around;}
    .jcontent-sm-between{justify-content: space-between;}
    .jcontent-sm-evenly{justify-content: space-evenly;}
    .jcontent-sm-start{justify-content: flex-start;}
    .jcontent-sm-end{justify-content: end;}
    .items-sm-center{align-items: center;}
    .items-sm-start{align-items: flex-start;}
    .items-sm-end{align-items: flex-end;}
    .items-sm-stretch{align-items: stretch;}
}