* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #222;
}

/* CONTENEDOR */
section {
    height: calc(100vh - 50px); /* para dejar la barra de colores abajo */
    border: 1px solid crimson;
    background: url(/06-proyecto-web-automovil.html/wallpaper.jpg);
    background-size: cover;
    background-position: center;
}

/* MENU */
ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

ul li {
    float: left;
    width: 20%;
    height: 100%;
    list-style: none;
}

ul:hover li {
    opacity: 0;
}

ul li:hover {
    opacity: 1;
    mix-blend-mode: hue;
}


/* COLORES DEL MENU */
ul li:nth-child(1) {
    background: #FF5500;
}

ul li:nth-child(2) {
    background: #5500FF;
}

ul li:nth-child(3) {
    background: #00B3B3;
}

ul li:nth-child(4) {
    background: #44CC00;
}

ul li:nth-child(5) {
    background: #E645A0;
}

/* HOVER DEL MENU */
ul li:hover:nth-child(1) {
    box-shadow:0 0 0 1500px #FF5500;
}

ul li:hover:nth-child(2) {
    box-shadow:0 0 0 1500px #5500FF;
}

ul li:hover:nth-child(3) {
    box-shadow:0 0 0 1500px #00B3B3;
}

ul li:hover:nth-child(4) {
    box-shadow:0 0 0 1500px #44CC00;
}

ul li:hover:nth-child(5) {
    box-shadow:0 0 0 1500px #E645A0;
}
