/* ====================
	* MEDIA QUERYS *
==================== */

$desktop: #{"(max-width: 1024px)"};
$tablets: #{"(max-width: 720px)"};
$phone: #{"(max-width: 480px)"};

@mixin desktop {
    @media screen and #{$desktop} {
        @content;
    }
}

@mixin tablets {
    @media screen and #{$tablets} {
        @content;
    }
}

@mixin phone {
    @media screen and #{$phone} {
        @content;
    }
}