* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// MIXIN O FUNCIONES
@mixin estilosTextos($color, $fontSize, $fontWeight) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
    text-transform: uppercase;
    text-align: center;
}

.articulo {
    width: 500px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;

    h1 {
        @include estilosTextos(lightseagreen, 40px, 500);
    }

    h2 {

        @include estilosTextos(lightskyblue, 30px, 600);
    }
}

