// ANTERIORMENTE EN CSS
// p{
//      font-size: 80px;
//      color: lightseagreen;
// }

// @media screen and (max-width: 900px) {
//      p{
//           font-size: 60px;
//           color: crimson;
//      }
// }

// @media screen and (max-width: 700px) {
//      p{
//           font-size: 40px;
//           color: greenyellow;
//      }
// }

// @media screen and (max-width: 400px) {
//      p{
//           font-size: 20px;
//           color: #000;
//      }
// }


// MEDIA QUERY EN SASS
// EN SAAS

$desktop: (max-width: 1200px);
$tablets: (max-width: 600px);
$phones: (max-width: 480px);

@mixin desktop {
     @media screen and #{inspect($desktop)} {
          @content;
     }
}

@mixin tablets {
     @media screen and #{inspect($tablets)} {
          @content;
     }
}

@mixin phones {
     @media screen and #{inspect($phones)} {
          @content;
     }
}

p{
     font-size: 80px;
     color: lightseagreen;

     @include desktop(){
          font-size: 60px;
          color: crimson;
     }

     @include tablets(){
          font-size: 40px;
          color: greenyellow;
     }

     @include phones(){
          font-size: 20px;
          color: #000;
     }
}